.header {
  text-align: center;
}

.todo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-card {
  border: 5px solid #000000;
  height: auto;
  min-height: 10vh;
  width: 50vh;
  border-radius: 20px;
}

.todo-list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans';
  border: 2px solid #000000;
}

.close-icon {
  margin-left: 50px;
  color: red;
}

.todo-item {
  text-transform: capitalize;
}

.footer {
  text-align: center;
}

.tick-mark {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.tick-mark::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 50%;
  width: 3px;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}

.tick-mark::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #336699;
  content: "";
  transform: translateX(10px) rotate(-45deg);
  transform-origin: left bottom;
}